   /* High-res CSS goes here */

#logo h1 {
    text-indent: -9999px;
}

 @media (min--moz-device-pixel-ratio: 1.5),
        (-o-min-device-pixel-ratio: 3/2),
        (-webkit-min-device-pixel-ratio: 1.5),
        (device-pixel-ratio: 1.5dppx) {
        
  
            #logo h1 {
             background: url("images/logo@2x.png") no-repeat center;
             background-size: 219px auto;  /*scale to size you need */ 
             width: 219px;

            }	
  }